.activities{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    text-align: center;

    padding-left: 20px;
    
}

.activities-left {
    flex-basis: 40%;
      
}

.activities-left img {
    border-radius: 10px;
    padding-top: 120px;
}


.activities-right{
    flex-basis: 56%;
    padding: 30px;
 ;}



.activities img {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}


.activities-right h1 {
    color: black;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}



.activities-right h5{
    color: black;
    font-size:18px ;
    margin-bottom: 25px;
    letter-spacing: 1px;
    text-align: justify;
}

.activities-right p{
    width: 550px;
    text-decoration: none ;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 10px;
    
}
