/* Base Styles (Mobile-First) */
.about-us {
    width: 100%;
    height: 50vh;
    background: url('../../assets/gallery_4.jpg') no-repeat center center/cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-size: cover; /* Ensure background covers the section */
}

.about-section {
    padding: 20px; /* Adequate padding for mobile */
    background-color: #fafafa;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 90%;
    max-width: 1200px; /* Adjusted max-width for better mobile scaling */
    margin: auto;
    display: flex;
    flex-direction: column; /* Mobile-first layout */
    align-items: center;
}



.about-text {
    width: 100%;
    max-width: 800px; /* Max width for readability */
    margin: 20px auto;
    color: rgb(66, 65, 65);
    text-align: center; /* Center-align text for mobile */
}

.about-text h1 {
    color: black;
    font-size: 1.5rem; /* Responsive font size */
    margin-bottom: 20px;
}

.about-text h5 {
    color: black;
    font-size: 1.2rem; /* Responsive font size */
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1rem; /* Responsive font size */
    line-height: 1.6;
    margin-bottom: 20px;
}
