.about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    text-align: center;
    
}

.about-left {
    flex-basis: 40%;
      
}

.about-right{
    flex-basis: 56%;
}

.about_1{
    width: 100%;
    border-radius: 20px;

}

.about h3 {
    font-weight: 600;
    font-size: 16px;
    color: black;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  

}

.about h2 {
    color: black;
    font-size: 28px;
    margin: 10px 0;
    max-width: 550px;
    text-align: center;
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  
    
}

.about p{
    color: rgb(68, 66, 66);
    margin-bottom: 15px ;
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: justify;

 
}

.about img {
    border-radius: 10px;
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #ebe9e9;
  
}

.main {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: space-around;
}

.main .spin-logo {
    animation-duration: 3s;
    animation-name: spin;

}

@keyframes spin {
    0%{

    }
    50% {
        scale: 2;
        transform: rotate(0);
        border-radius: 0;
    }
    100% {
        transform: rotate(360deg);
        border-radius: 50%;
        scale: 2;
    }
}




.about-text {
    width: 550px;
    text-decoration:none;
    text-align: justify;
}

.about-text h1 {
    color: black;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.about-text h5 {
    color: black;
    font-size:18px ;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.about-text  {
    color: rgb(66, 65, 65);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}

.about-us {
    width: 100%;
    height: 50vh;
    min-width: 50vh;
    background: url('../../assets/gallery_4.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
/* Media Query */

@media (max-width:768px){
    .about {
        flex-direction: column;
        width: auto;

    }
    .about-us{
        width: 100%;
        display: block;
    }
    .about-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
        

    }
    .about-right{
        flex-basis: 100%;
        justify-content: space-between;


    }
}