#intro {
    padding: 100px 0;
  }
  #intro .block h2 {
    padding-top: 35px;
    line-height: 27px;
    margin: 0;
  }
  #intro .block p {
    color: #7B7B7B;
    padding-top: 20px;
  }
  #intro .block img {
    padding-left: 40px;
    width: 100%;
  }

  .activities-title {
    color:black;
    
  }
  #intro .section-title {
    margin-bottom: 0px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #intro .section-title p {
    padding-top: 20px;
    text-align: justify;
  }
  .about-p {
    text-align: justify;
  }

  #feature {
    background: url("../../assets/bees5.png");
    background-position: 50% 94px;
    width: 100%;
    display: block;
    position: relative;
    overflow: visible;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 100px 0;
    opacity: 0.8;
  }
  #feature h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  #feature p {
    color: #000000;
    margin-bottom: 20px;
  }
 

  .activities-p {
    text-align: justify;
    color: black;
  }

  .about-img img {
    
    position: relative;
    opacity: 0.8;
    z-index: 1;
    animation: floating 3s ease-in-out infinite;
}


    @keyframes floating {
      0% { transform: translateY(0); }
      50% { transform: translateY(10px); }
      100% { transform: translateY(-10px); }
  }
  