.contact {
    margin: 80px auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

}
.contact-col {
    flex-basis: 70%;
    color: black
}

.contact-col h3{
    color: black;
    font-weight: 500;
    font-size: 25px;
    display:flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

}

.contact-col p {
    max-width: 450px;
    list-style:0.3 ;
    text-align: center;
}



.contact form input, .contact form textarea {
    display: block;
    width: 100%;
    background:white ;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.contact span {
    display: block;
    margin: 20px 0;
}

