* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  padding-top: 8px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
right: 135px; 

  

}

.footer-menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  gap: 40px;
  top: -10px;
}

.socials{
  margin-top: 1rem;
  font-size: 20px;
  color:orange ;
  float: right;
  float: left;

}

.footer-container{
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  
  
}


.footer-bg {
  height: 500px;
  width:100%;
  max-height: 300px;
}


.footer-items {
  font-size: 14px;
  color: black;
  margin: 0 ;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
  align-items: center;

}

.copyright-text{
  font-size: 14px;
  color: black;
  margin: 0 ;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;

socials::hover {
  transform: scale(1.5); /* 150% zoom */
  }

h4 {
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
}

p {
  font-size: 20px;
}

.footer-img {
  width: 400px;
  height: 400px;
  
}

/* Media Query */

@media (max-width:800px){
  .footer {
      flex-direction: column;

  }
  .footer-img{
      flex-basis: 100%;
      margin: 20px;
      order: 2;
      

  }
  .footer-menu{
      flex-basis: 100%;
      justify-content: space-between;


  }
}