* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  padding: 4rem 6rem;
  background: #fafafa;
  color: black;
  

}

.footer img{
  width: 100%;
  top: -100px;
}
.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;


}

.social a{
  margin-left: 3%;
  margin-right: 0;
  text-align: center;
  width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-align: center;
    align-items: center;
}
.social a:hover{
  background-color: darkgreen;
}


.bottom {
  padding-top: 1rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  display: flex;
  flex-direction: column;
}
.bottom a {
  text-decoration: none;
  color: black;
  padding-bottom: 2rem;
  font-size: 1.1rem;
}

.copyright-text{
  font-size: 14px;
  color: black;
  margin: 0 ;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
padding-left: 600px;

h4 {
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
}

p {
  font-size: 20px;
}



/* Media Query */

@media (max-width:850px){
  
  .footer{
    padding: 4rem 2rem;
  }
  .social-icons {
    margin: 1rem 1rem 0 0 ;
  }
  .bottom div {
    width:50%;
  }

}