* { 
  margin: 0; 
  padding: 0;
  
 }


 #intro {
  margin: 0;
  padding: 0;
 }
.our-projects {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    text-align: center;
    
}


.our-project p{
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
  color: #7B7B7B;
  text-align: justify;
}

--*/
#intro {
  padding: 100px 0;
}
#intro .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#intro .block p {
  color: #7B7B7B;
  padding-top: 20px;
  
}
#intro .block img {
  padding-left: 40px;
  width: 100%;
  border-radius: 10px;
}
#intro .section-title {
  margin-bottom: 0px;
  
}


#intro .section-title p {
  padding-top: 20px;
  color: rgb(68, 66, 66);
  text-align: justify;
}

.section-p {
  text-align: justify;
}

.block img {
  
}