*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.social-media {
    color: rgb(15, 113, 47);
    font-size: 25px;
    padding-right: 10px;
}
.navbar {
    color: #fafafa;
}
.navbar-collapse {
    flex-grow: 0;


}
.container-fluid.my-container-fluid{
}

.navbar-nav {
    text-align: left;
}

@media screen and (min-width:992px){
    .navbar-collapse{
        flex-grow: 0;
    }
    .container-fluid.my-container-fluid{
        justify-content: center;
    }
    
}

@media screen and (max-width:768px){
    .btn-ouline-dark{
        border: none;
    padding: 0;}
    
}
@media screen and (max-width: 768px) {
    .btn {
      padding: 0;
      color: #f6f2f2;
    }
  }