*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-nav {
    max-width: 1440px;
    width: 100%;
    height: 70px;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    position: fixed;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: #fafafa;
}



.logo img {
    width: 65px;
    cursor: pointer;
    height: 65px;
    

}
.container-nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 16px;
    padding: 10px 20px;
}


.container-nav ul li:hover,
.container-nav ul li.active {
    background-color: rgb(150, 147, 147);
    border-radius: 10px;
    
}

.menu-icon{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.top {
    padding-bottom: 20px;
}





/* Media Queries */ 
@media (max-width:768px){
   
  
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .container-nav .nav-link {
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #fffcfccf;
        position: absolute;
        width: 350px;
        height: 60vh;
        top: -800px;
        right: 0;
        z-index: 10;
        transition: all 0.7s ease-in;
        border-radius: 15px;
        display: flex;
        font-weight: bold;
        margin-top: -10px;


    }
    .nav-link.active {
        top: 100%;
        transition: all 0.3s ease-in;
        display: flex;

    }

}

    
