.team {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ebe9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:auto;
}

.team-content {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;

}

.team-content img {
    width: 70%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 50%;

}

.center h1 {
    color: grey;
    font-size: 3rem;
    text-align: center;
}

.box {
    padding: 16px;
    background: #fafafa;
    border-radius: 50%;
    transition: all .38s ease;
   
}

.box h3 {
    font-size: 23px;
    font-weight: 600px;
    color: black;
    margin-bottom: 8px;

}

.box h5 {
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
    letter-spacing: 2px;

}

@media (maxwidth:1240px){
    .team {
        width:100%;
        height: auto;
        padding: 99px 2%;
        flex-direction: column;

    }
    .center h1 {
        font-size:3.2rem ;
    }
}
