.goals-card{
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(141, 141, 141, 0.774);
  max-width: 250px;
  height: ;
  margin: auto;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin: 40px;
  align-items: center;
  background-color: rgb(242, 239, 239);
  cursor: pointer;
  transition: all 0.3s;

}

.goals-card:hover {
  transform:scale(1.15) ;
}
.card-container {
  padding: 40px 0;
  position: relative;
  background: #fafafa;
  align-items: center;
  position: relative;
  left: 50px;



}

.goals-card img {
  max-width: 60%;
  height: auto;
margin-bottom: 10px;
border-radius: 50%;
}

.goals-card h2 {
  margin: 0;
  color:black;

}




@media screen  and (max-width:1042px) {
  .goals .box {
    flex-direction: column;
    width:100%;
        height: auto;
        padding: 99px 2%;
  
 }
 .goals img {
  width: 150px;
  width: 150px;
 }

  
}