/* General section styling */
.goals-section {
  padding: 50px 10%;
  background-color: #f4f4f4;
}

/* Container for the cards */
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}

/* Individual card styling */
.goals-card {
  background: fafafa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 100%;
  max-width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.goals-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.goals-card h2 {
  margin: 0;
  font-size: 1.4rem;
  color: #333;
  padding-bottom: 5px;
}

.goals-card p {
  font-size: 1rem;
  color: #666;
}

/* Hover effects for cards */
.goals-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .card-container {
      flex-direction: column;
      align-items: center;
  }

  .goals-card {
      max-width: 90%;
  }
}

@media (max-width: 480px) {
  .goals-card h2 {
      font-size: 1.2rem;
  }

  .goals-card p {
      font-size: 0.9rem;
  }
}
