.goals-card{
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(141, 141, 141, 0.774);
  max-width: 250px;
  max-height: 80%;
  margin: auto;
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  margin: 40px;
  align-items: center;
  background-color: rgb(242, 239, 239);
  cursor: pointer;

}

.card-container {
  padding: 40px 0;
  position: relative;
  background: #fafafa;
  align-items: center;

}

.goals-card img {
  max-width: 60%;
  height: auto;
margin-bottom: 10px;
border-radius: 50%;
}

.goals-card h2 {
  margin: 0;
  color:black;

}


.goals .box {
  box-shadow:0 0 20px 0 rgb(112 121 138 / 18%) ;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
  cursor: pointer;

}

.box h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.background {
  padding: 40px 0;
  position: relative;
  background: #fafafa;
  right: 100px ;
}
.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
}
.mtop {
  margin-top: 50px;
}

.goals img {
  box-shadow: 0 0 20px 0 rgb(112, 121, 138 /18%);
  width: 200px;
  height: 200px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 50%;
}


@media screen  and (max-width:1042px) {
  .goals .box {
    flex-direction: column;
    width:100%;
        height: auto;
        padding: 99px 2%;
  
 }
 .goals img {
  width: 150px;
  width: 150px;
 }

  
}