.about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    text-align: center;
}

.about-left {
    flex-basis: 40%;
      
}

.about-right{
    flex-basis: 56%;
}

.about_1{
    width: 100%;
    border-radius: 20px;

}

.about h3 {
    font-weight: 600;
    font-size: 16px;
    color: black;

}

.about h2 {
    color: black;
    font-size: 28px;
    margin: 10px 0;
    max-width: 550px;
    text-align: center;
    
}

.about p{
    color: black;
    margin-bottom: 15px ;
    margin-top: 15px;
}

.about img {
    border-radius: 10px;
}